.div1 {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  float: left;
  display: block;
  margin: 1px;
  font-family: Arial;
  font-size: 11px;}
.left_side {
  padding-left: 10px;
  padding-top: 20px;}
.div2 {
  width: 49%;
  height: 100%;
  border: 1px solid black;
  float: right;
  display: block;
  margin: 1px;
  font-family: Arial;
  font-size: 11px;}
.hp_lynk{
  margin-left: 150px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk:hover { background: rgb(232,95,76); } 
.hp_lynk:active { background: rgb(152,15,0); } 
.hp_lynk3{
  margin-left: 150px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: linear-gradient(#F3AE0F, #E38916) #E38916; 
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk3:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; } 
.hp_lynk3:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.hp_lynk1 {
  margin-left: 150px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: linear-gradient(#F3AE0F, #E38916) #E38916; 
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk1:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; } 
.hp_lynk1:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.hp_lynk2 {
  margin-left: 150px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk2:hover { background: rgb(232,95,76); } 
.hp_lynk2:active { background: rgb(152,15,0); } 
.kit{
  height: 0;
  padding-bottom: 56.25%; 
  padding-top: 30px;
  width: 50%;
  float: left;
  display: block;
  float: left;
  display: block;
  margin: 1px;}
.hello {
  float:right;
  display: block;
  font-family: Arial;
  color:gray;
  font-size: 11;
  padding-right:5%;
  width: 40%;
  height:0;
  margin: 1px;
} 
.hp_lynk4 {
  margin-left: 350px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk4:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; } 
.hp_lynk4:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.hp_lynk5 {
  margin-left: 350px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; 
} 
.hp_lynk5:hover { background: rgb(232,95,76); } 
.hp_lynk5:active { background: rgb(152,15,0); } 
.contact{
  font-family:Arial;
  font-size:25px;
  color:rgb(74,74,74);
  margin:auto;
  padding-top:20px;}

